# Dependencies
node_modules/
dist/

# Rust / Tauri
src-tauri/target/
src-tauri/gen/

# Editor
.vscode/
.idea/
tools/
*.suo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Skills
.claude/
.agents/
skills-lock.yaml

# MD
ToWrite.md
PluginSystem.md
UpdatePlan.md
Supporter.md